a
{
	color:				#3B7286;
	text-decoration:		none;
}
	a:hover
	{
		color:				#000000;
	}
	a.redirect
	{
		text-decoration:		underline;
	}
	a.redlink
	{
		color:				#CC0000;
	}
		a.redlink:hover
		{
			background-color:		#CC0000;
			border-radius:			4px;
			color:				#FFFFFF;
		}
	a img
	{
		border:				0px;
	}
body
{
	background:			#E4F4FC;
	color:				#3B7286;
	font-family:			"Helvetica Neue", Helvetica, Trebuchet MS, Verdana, Tahoma, Arial, Sans-serif;
	font-size:			82%;
	margin-top:			30px;
}
code
{
	font-family:			Consolas, Monaco, 'Courier New', Monospace;
}
input, select, textarea
{
	background-color:		#FFFFFF;
	border:				1px solid #21A7CD;
	border-radius:			4px;
	color:				#000000;
	font-family:			"Helvetica Neue", Helvetica, Trebuchet MS, Verdana, Tahoma, Arial, Sans-serif;
	padding:			5px;
}
	input[type=checkbox]:focus, input[type=radio]:focus, input[type=password]:focus, input[type=text]:focus, option:focus, select:focus, textarea:focus
	{
		border:				1px solid #021420;
	}
	input[type=button], input[type=submit]
	{
		background-color:		#044968;
		border:				0px;
		color:				#FFFFFF;
	}
label
{
	cursor:				pointer;
}
p.spacer
{
	margin-bottom:			10px;
}
table
{
	width:				100%;
}
	table tr td
	{
		padding:			10px;
	}
		table tr td a
		{
			border:				1px solid transparent;
			border-radius:			4px;
			padding:			5px;
		}
			table tr td a:hover
			{
				background-color:		#C2EDFD;
				border:				1px solid #21A7CD;
				color:				#044968;
			}
	table tr.heading td
	{
		background-color:		#C2EDFD;
		border:				1px solid #21A7CD;
		border-right:			0px;
		font-weight:			bold;
	}
		table tr.heading h5
		{
			font-size:			14px;
			margin:				0px;
			padding:			0px;
		}
		table tr.heading td.end
		{
			border-right:			1px solid #21A7CD;
			border-bottom-right-radius:	4px;
			border-top-right-radius:	4px;
		}
		table tr.heading td.end-connected-bottom
		{
			border-right:			1px solid #21A7CD;
			border-bottom-right-radius:	0px;
			border-top-right-radius:	4px;
		}
		table tr.heading td.end-connected-top
		{
			border-right:			1px solid #21A7CD;
			border-bottom-right-radius:	4px;
			border-top-right-radius:	0px;
		}
		table tr.heading td.start
		{
			border-bottom-left-radius:	4px;
			border-top-left-radius:		4px;
		}
		table tr.heading td.start-connected-bottom
		{
			border-bottom-left-radius:	0px;
			border-top-left-radius:		4px;
		}
		table tr.heading td.start-connected-top
		{
			border-bottom-left-radius:	4px;
			border-top-left-radius:		0px;
		}
	table tr.header
	{
		color:				#FFFFFF;
		font-weight:			bold;
		padding:			10px;
		text-shadow:			1px 1px 1px #000000;
	}
		table tr.header td
		{
			border-bottom:			1px solid #21A7CD;
			font-size:			14px;
		}
			table tr.header td span
			{
				font-size:			12px;
				float:				right;
				padding-top:			1px;
			}
				table tr.header td span a
				{
					border:				0px;
					color:				#FFFFFF;
					padding:			0px;
				}
					table tr.header td span a:hover
					{
						background-color:		transparent;
						border:				0px;
						text-decoration:		underline;
					}
					table tr.header td span a.redlink:hover
					{
						background-color:		#CC0000;
						border-radius:			4px;
						color:				#FFFFFF;
					}
			table tr.header td.end
			{
				background-color:		#044968;
				border:				0px;
				border-bottom-right-radius:	0px;
				border-top-right-radius:	4px;
			}
			table tr.header td.start
			{
				background-color:		#044968;
				border:				0px;
				border-bottom-left-radius:	0px;
				border-top-left-radius:		4px;
			}
	table tr.highlight td
	{
		background:			transparent;
		color:				#A9272C;
		border:				1px solid transparent;
	}
		table tr.highlight td span.error
		{
			background-color:		#FFFFFF;
			border-radius:			4px;
			padding:			2px;
		}
	table.list
	{
		margin:				-2px -2px 5px -2px;
	}
textarea
{
	font-family:			Consolas, Monaco, 'Courier New', Monospace;
}
.box, .warning
{
	background-color:		#FFFFFF;
	border:				2px solid #C2EDFD;
	border-radius:			4px;
	margin-bottom:			10px;
	padding:			10px;
}
	.box h3, .box h4, .warning h3, .warning h4
	{
		font-size:			14px;
		margin:				0px;
		padding:			0px;
	}
	.box h4, .warning h4
	{
		background-color:		#044968;
		border-bottom:			2px solid #21A7CD;
		border-radius:			4px;
		color:				#FFFFFF;
		margin:				-2px -2px 5px -2px;
		padding:			10px;
		text-shadow:			1px 1px 1px #000000;
	}
.clear
{
	clear:				both;
}
.content
{
	margin-left:			270px;
}
	.content .box p, .content .warning p
	{
		margin:				0px;
	}
.copyright
{
	color:				#3B3B3B;
	font-size:			75%;
	text-align:			right;
}
	.copyright .logo
	{
		float:                          right;
		margin-left:                    10px;
	}
	.copyright .text
	{
		float:                          right;
	}
.error
{
	color:				#A9272C;
}
.panel
{
	float:				left;
	width:				250px;
}
	.panel a
	{
		text-decoration:		underline;
	}
	.panel div.center
	{
		margin:				15px auto;
		width:				160px;
	}
	.panel h4
	{
		border-bottom:			2px solid #21A7CD;
	}
	.panel h5
	{
		font-size:			13px;
		margin-bottom:			0px;
	}
	.panel ul
	{
		list-style-type:		square;
		margin:				0px;
		padding:			0px 0px 0px 20px;
	}
.top
{
	background-color:		#044968;
	border-bottom:			2px solid #21A7CD;
	border-radius:			4px;
	padding:			0px 4px;
}
	.top h2
	{
		color:				#FFFFFF;
		float:				right;
		margin:				0px 5px 0px 0px;
		padding:			0px;
		width:				250px;
	}
		.top h2 div
		{
			font-size:			10px;
			margin-top:			-5px;
		}
	.top ul
	{
		list-style-type:		none;
		margin:				0px;
		padding:			0px;
	}
		.top ul li
		{
			float:				left;
		}
			.top ul li a
			{
				color:				#FFFFFF;
				display:			block;
				padding:			10px;
				text-shadow:			1px 1px 1px #000000;
			}
				.top ul li a span
				{
					border-radius: 			2px;
					padding:			1px 3px;
				}
					.top ul li a:hover span, .top ul li a.current span
					{
						text-shadow:			#FFFFFF 0px 0px 10px;
						border-bottom:			2px solid #21A7CD;
					}
.underlined
{
	border-bottom:			2px solid #A9272C;
	color:				#A9272C;
	padding-bottom:			2px;
}
.warning
{
	background:			none;
	background-color:		#FFFFFF;
	border:				2px solid #A9272C;
}
	.warning *
	{
		color:				#A9272C;
	}
	.warning input
	{
		border-color:			#A9272C;
	}
.wrapper
{
	color:				#3B7286;
	padding:			0px 50px;
}